<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap     = "http://phonegap.com/ns/1.0"
id            = "fi.metroppolia.sundarimyproject"
versionCode   = "1"
version       = "1.0.0">
<name>lab1</name>
<description>
my first app
</description>
<author href="http://users.metropolia.fi/~sivagama" email="sundari.arulmani@gmail.com">
Sundari
</author>
<gap:plugin name="org.apache.cordova.inappbrowser" />
<access origin="*" />
</widget>
